<!--
 - Lane :: Staff 1 
 -->
<!-- 1pm - 2pm :: Seattle :: Class B :: Staff 1  -->
<div class="event" style="left:650px; top:20px; height:33px; width:90px;">
	<div class="event_o service_color_2 type_class">
		<span class="name_and_time">
			<span class="full_time">
				<span class="start_at">1pm</span>
				<span class="dash">-</span>
				<span class="end_at">2pm</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 1</span>
			<span class="location">- Seattle</span>
		</span>
	</div>
</div>
<!-- 1pm - 2:30pm  :: Seattle :: Class A :: Staff 1 -->
<div class="event" style="left:650px; top:53px; height:33px; width:150px;">
	<div class="event_o service_color_1 type_class">
		<span class="name_and_time">
			<span class="full_time">
				<span class="start_at">1pm</span>
				<span class="dash">-</span>
				<span class="end_at">2:30pm</span>
			</span>
			<span class=""><strong>Class A</strong> w/ Staff 1 & Staff 3</span>
			<span class="location">- Seattle</span>
		</span>
	</div>	
</div>

<!--
 - Lane :: Staff 2
 -->
<!-- 10am - 12pm :: Seattle :: Class C :: Staff 2  -->
<div class="event" style="left:350px; top:85px; height:65px; width:200px;">
	<div class="event_o service_color_3 type_class">
		<span class="name_and_time">
			<span class="full_time">
				<span class="start_at">10am</span>
				<span class="dash">-</span>
				<span class="end_at">12pm</span>
			</span>
			<span class=""><strong>Class C</strong> w/ Staff 2</span>
			<span class="location">- Seattle</span>
		</span>
	</div>
</div>
<!-- 3pm - 5pm :: Seattle :: Class C :: Staff 2  -->
<div class="event" style="left:850px; top:85px; height:65px; width:200px;">
	<div class="event_o service_color_3 type_class">
		<span class="name_and_time">
			<span class="full_time">
				<span class="start_at">3pm</span>
				<span class="dash">-</span>
				<span class="end_at">5pm</span>
			</span>
			<span class=""><strong>Class C</strong> w/ Staff 2</span>
			<span class="location">- Seattle</span>
		</span>
	</div>
</div>

<!--
 - Lane :: Staff 3
 -->
 <!-- 9:30am - 10:30am :: Seattle :: Class B :: Staff 3 -->
 <div class="event" style="left:300px; top:150px; height:65px; width:100px;">
	<div class="event_o service_color_2 type_class">
		<span class="name_and_time">
			<span class="full_time">
				<span class="start_at">9:30am</span>
				<span class="dash">-</span>
				<span class="end_at">10:30am</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 3</span>
			<span class="location">- Seattle</span>
		</span>
	</div>
</div>
<!-- 1pm - 2:30pm :: Seattle :: Class A :: Staff 3 -->
<div class="event" style="left:650px; top:150px; height:65px; width:150px;">
	<div class="event_o service_color_1 type_class">
		<span class="name_and_time">
			<span class="full_time">
				<span class="start_at">1pm</span>
				<span class="dash">-</span>
				<span class="end_at">2:30pm</span>
			</span>
			<span class=""><strong>Class A</strong> w/ Staff 1 & Staff 3</span>
			<span class="location">- Seattle</span>
		</span>
	</div>
</div>
<!-- 2:30pm - 3:30pm :: Seattle :: Class B :: Staff 3 -->
 <div class="event" style="left:800px; top:150px; height:65px; width:100px;">
	<div class="event_o service_color_2 type_class">
		<span class="name_and_time">
			<span class="full_time">
				<span class="start_at">2:30pm</span>
				<span class="dash">-</span>
				<span class="end_at">3:30pm</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 3</span>
			<span class="location">- Seattle</span>
		</span>
	</div>
</div>
<!--
 - Lane :: Staff 4
 -->
<!-- 10am - 12pm :: Los Angeles :: Class D :: Staff 4 -->
<div class="event" style="left:350px; top:215px; height:60px; width:200px;">
	<div class="event_o service_color_4 type_class">
		<span class="name_and_time">
			<span class="full_time">
				<span class="start_at">10am</span>
				<span class="dash">-</span>
				<span class="end_at">12pm</span>
			</span>
			<span class=""><strong>Class D</strong> w/ Staff 4</span>
			<span class="location">- Los Angeles</span>
		</span>
	</div>
</div>
<!-- 11:30am - 12:30pm :: Los Angeles :: Class B :: Staff 4 -->
<div class="event" style="left:500px; top:220px; height:60px; width:100px;">
	<div class="event_o service_color_2 type_class stacked">
		<span class="name_and_time">
			<span class="full_time">
				<span class="start_at">11:30am</span>
				<span class="dash">-</span>
				<span class="end_at">12:30pm</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 4</span>
			<span class="location">- Los Angeles</span>
		</span>
	</div>
</div>
