<div class="lane-column">
	<div class="subgroup-lane"><div class="subgroup-label first">Los Angeles</div></div>
	<div class="subgroup-spacer"></div>
	<div class="time-lane"><div class="time-label border subgroup"></div></div>
	<div class="time-spacer"></div>

	<div class="lane"><div class="lane-label">Class A</div></div>
	<div class="lane"><div class="lane-label">Class B</div></div>

	<div class="subgroup-lane"><div class="subgroup-label">Seattle</div></div>
	<div class="subgroup-spacer"></div>
	<div class="time-lane"><div class="time-label border subgroup"></div></div>
	<div class="time-spacer"></div>

	<div class="lane"><div class="lane-label">Class B</div></div>
	<div class="lane"><div class="lane-label">Class C</div></div>
	<div class="lane"><div class="lane-label">Class D</div></div>
</div>