<div class="subgroup-spacer"><div class="cell"></div></div>
<div class="time-lane">
	<div class="time-cell day-start">6:00am</div><div class="time-cell">7:00am</div><div class="time-cell">8:00am</div>
	<div class="time-cell">9:00am</div><div class="time-cell">10:00am</div><div class="time-cell">11:00am</div>
	<div class="time-cell">12:00pm</div><div class="time-cell">1:00pm</div><div class="time-cell">2:00pm</div>
	<div class="time-cell">3:00pm</div><div class="time-cell">4:00pm</div><div class="time-cell">5:00pm</div>
	<div class="time-cell">6:00pm</div><div class="time-cell">7:00pm</div><div class="time-cell">8:00pm</div>
</div>
<div class="time-spacer"></div>

<div class="event-lane"><!-- table-row -->
	<div class="event-cell day-start"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
</div>
<div class="event-lane"><!-- table-row -->
	<div class="event-cell day-start"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
</div>

<div class="subgroup-spacer"><div class="cell"></div></div>
<div class="time-lane">
	<div class="time-cell day-start">6:00am</div><div class="time-cell">7:00am</div><div class="time-cell">8:00am</div>
	<div class="time-cell">9:00am</div><div class="time-cell">10:00am</div><div class="time-cell">11:00am</div>
	<div class="time-cell">12:00pm</div><div class="time-cell">1:00pm</div><div class="time-cell">2:00pm</div>
	<div class="time-cell">3:00pm</div><div class="time-cell">4:00pm</div><div class="time-cell">5:00pm</div>
	<div class="time-cell">6:00pm</div><div class="time-cell">7:00pm</div><div class="time-cell">8:00pm</div>
</div>
<div class="time-spacer"></div>

<div class="event-lane"><!-- table-row -->
	<div class="event-cell day-start"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
</div>
<div class="event-lane"><!-- table-row -->
	<div class="event-cell day-start"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
</div>
<div class="event-lane"><!-- table-row -->
	<div class="event-cell day-start"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
	<div class="event-cell mid"></div><div class="event-cell"></div><div class="event-cell mid"></div>
	<div class="event-cell"></div><div class="event-cell mid"></div><div class="event-cell"></div>
</div>