<div class="subgroup-spacer"></div>
<div class="time-lane">
	<div class="time-label subgroup start">6:00am</div><div class="time-label subgroup">7:00am</div><div class="time-label subgroup">8:00am</div>
	<div class="time-label subgroup">9:00am</div><div class="time-label subgroup">10:00am</div><div class="time-label subgroup">11:00am</div>
	<div class="time-label subgroup">12:00pm</div><div class="time-label subgroup">1:00pm</div><div class="time-label subgroup">2:00pm</div>
	<div class="time-label subgroup">3:00pm</div><div class="time-label subgroup">4:00pm</div><div class="time-label subgroup">5:00pm</div>
	<div class="time-label subgroup">6:00pm</div><div class="time-label subgroup">7:00pm</div><div class="time-label subgroup">8:00pm</div>
</div>
<div class="time-spacer"></div>

<!--
 - Lane :: Class A - Los Angeles
 -->
<div class="event-lane">
	<!-- 10am - 11:30pm  :: Los Angeles :: Class A :: Staff 1 & Staff 3 -->
	<div class="event" style="left:450px; height:65px; width:150px;">
		<div class="event_o service_color_1 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">10am</span>
			<span class="dash">-</span>
			<span class="end_at">11:30am</span>
			</span>
			<span class=""><strong>Class A</strong> w/ Staff 1 & Staff 3</span>
			<span class="location hide">- Los Angeles</span>
			</span>
		</div>	
	</div>
	
	<!-- 1pm - 2:30pm  :: Los Angeles :: Class A :: Staff 1 & Staff 3 -->
	<div class="event" style="left:750px; height:65px; width:150px;">
		<div class="event_o service_color_1 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">1pm</span>
			<span class="dash">-</span>
			<span class="end_at">2:30pm</span>
			</span>
			<span class=""><strong>Class A</strong> w/ Staff 1 & Staff 3</span>
			<span class="location hide">- Los Angeles</span>
			</span>
		</div>	
	</div>
	<!-- 2:30pm - 4pm  :: Los Angeles :: Class A :: Staff 1 & Staff 3 -->
	<div class="event" style="left:900px; height:65px; width:150px;">
		<div class="event_o service_color_1 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">2:30pm</span>
			<span class="dash">-</span>
			<span class="end_at">4pm</span>
			</span>
			<span class=""><strong>Class A</strong> w/ Staff 1 & Staff 3</span>
			<span class="location hide">- Los Angeles</span>
			</span>
		</div>	
	</div>
	<!-- 4pm - 5:30pm  :: Los Angeles :: Class A :: Staff 1 & Staff 3 -->
	<div class="event" style="left:1050px; height:65px; width:150px;">
		<div class="event_o service_color_1 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">4pm</span>
			<span class="dash">-</span>
			<span class="end_at">5:30pm</span>
			</span>
			<span class=""><strong>Class A</strong> w/ Staff 1 & Staff 3</span>
			<span class="location hide">- Los Angeles</span>
			</span>
		</div>	
	</div>
</div>
<div class="grid-lane"><!-- table-row -->
	<div class="grid start"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
</div>

<!--
 - Lane :: Class B - Los Angeles
 -->
<div class="event-lane">
	<!-- 8am - 8:30am  :: Los Angeles :: Class B :: Staff 6 -->
	<div class="event" style="left:250px; height:65px; width:50px;">
		<div class="event_o service_color_2 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">8am</span>
			<span class="dash">-</span>
			<span class="end_at">8:30am</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 6</span>
			<span class="location hide">- Los Angeles</span>
			</span>
		</div>
	</div>
	<!-- 8:30am - 9am  :: Los Angeles :: Class B :: Staff 6 -->
	<div class="event" style="left:300px; height:65px; width:50px;">
		<div class="event_o service_color_2 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">8:30am</span>
			<span class="dash">-</span>
			<span class="end_at">9am</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 6</span>
			<span class="location hide">- Los Angeles</span>
			</span>
		</div>
	</div>
	<!-- 11am - 11:30am  :: Los Angeles :: Class B :: Staff 3-->
	<div class="event" style="left:550px; height:65px; width:50px;">
		<div class="event_o service_color_2 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">11am</span>
			<span class="dash">-</span>
			<span class="end_at">11:30am</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 3</span>
			<span class="location hide">- Los Angeles</span>
			</span>
		</div>
	</div>
	<!-- 11:30am - 12pm  :: Los Angeles :: Class B :: Staff 3 -->
	<div class="event" style="left:600px; height:65px; width:50px;">
		<div class="event_o service_color_2 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">11:30am</span>
			<span class="dash">-</span>
			<span class="end_at">12pm</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 3</span>
			<span class="location hide">- Los Angeles</span>
			</span>
		</div>
	</div>
	<!-- 3:30pm - 4pm  :: Los Angeles :: Class B :: Staff 2 -->
	<div class="event" style="left:1000px; height:65px; width:50px;">
		<div class="event_o service_color_2 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">3:30pm</span>
			<span class="dash">-</span>
			<span class="end_at">4pm</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 2</span>
			<span class="location hide">- Los Angeles</span>
			</span>
		</div>
	</div>
	<!-- 4pm - 4:30pm  :: Los Angeles :: Class B :: Staff 2 -->
	<div class="event" style="left:1050px; height:65px; width:50px;">
		<div class="event_o service_color_2 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">4pm</span>
			<span class="dash">-</span>
			<span class="end_at">4:30pm</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 2</span>
			<span class="location hide">- Los Angeles</span>
			</span>
		</div>
	</div>
</div>
<div class="grid-lane"><!-- table-row -->
	<div class="grid start"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
</div>

<div class="subgroup-spacer"></div>
<div class="time-lane">
	<div class="time-label subgroup start">6:00am</div><div class="time-label subgroup">7:00am</div><div class="time-label subgroup">8:00am</div>
	<div class="time-label subgroup">9:00am</div><div class="time-label subgroup">10:00am</div><div class="time-label subgroup">11:00am</div>
	<div class="time-label subgroup">12:00pm</div><div class="time-label subgroup">1:00pm</div><div class="time-label subgroup">2:00pm</div>
	<div class="time-label subgroup">3:00pm</div><div class="time-label subgroup">4:00pm</div><div class="time-label subgroup">5:00pm</div>
	<div class="time-label subgroup">6:00pm</div><div class="time-label subgroup">7:00pm</div><div class="time-label subgroup">8:00pm</div>
</div>
<div class="time-spacer"></div>


<!--
 - Lane :: Class B - Seattle
 -->
<div class="event-lane">
	<!-- 9:30am - 10am  :: Seattle :: Class B :: Staff 3-->
	<div class="event" style="left:400px; height:65px; width:50px;">
		<div class="event_o service_color_2 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">9:30am</span>
			<span class="dash">-</span>
			<span class="end_at">10am</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 3</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>
	</div>
	<!-- 10am - 10:30am  :: Seattle :: Class B :: Staff 3 -->
	<div class="event" style="left:450px; height:65px; width:50px;">
		<div class="event_o service_color_2 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">10am</span>
			<span class="dash">-</span>
			<span class="end_at">10:30am</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 3</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>
	</div>

	<!-- 1:30pm - 2pm  :: Seattle :: Class B :: Staff 3 -->
	<div class="event" style="left:800px; height:55px; width:50px;">
		<div class="event_o service_color_2 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">1:30pm</span>
			<span class="dash">-</span>
			<span class="end_at">2pm</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 3</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>
	</div>
	<!-- 1:45pm - 2:15pm  :: Seattle :: Class B :: Staff 1-->
	<div class="event" style="left:825px; top:5px; height:55px; width:50px;">
		<div class="event_o service_color_2 type_class stacked">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">1:45pm</span>
			<span class="dash">-</span>
			<span class="end_at">2:15pm</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 1</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>
	</div>
	<!-- 2pm - 2:30pm  :: Seattle :: Class B :: Staff 3-->
	<div class="event" style="left:850px; top:10px; height:55px; width:50px;">
		<div class="event_o service_color_2 type_class stacked">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">2pm</span>
			<span class="dash">-</span>
			<span class="end_at">2:30pm</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 3</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>
	</div>
	
	<!-- 5:30pm - 6pm  :: Seattle :: Class B :: Staff 3 -->
	<div class="event" style="left:1200px; height:65px; width:50px;">
		<div class="event_o service_color_2 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">5:30pm</span>
			<span class="dash">-</span>
			<span class="end_at">6pm</span>
			</span>
			<span class=""><strong>Class B</strong> w/ Staff 3</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>
	</div>
</div>
<div class="grid-lane"><!-- table-row -->
	<div class="grid start"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
</div>

<!--
 - Lane :: Class C - Seattle
 -->
<div class="event-lane">
	<!-- 10am - 11am  :: Seattle :: Class C :: Staff 6 -->
	<div class="event" style="left:450px; height:45px; width:100px;">
		<div class="event_o service_color_3 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">10am</span>
			<span class="dash">-</span>
			<span class="end_at">11am</span>
			</span>
			<span class=""><strong>Class C</strong> w/ Staff 6</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>
	</div>
	<!-- 10:30am - 11:30am  :: Seattle :: Class C :: Staff 7 -->
	<div class="event" style="left:500px; top:5px; height:45px; width:100px;">
		<div class="event_o service_color_3 type_class stacked">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">10:30am</span>
			<span class="dash">-</span>
			<span class="end_at">11:30am</span>
			</span>
			<span class=""><strong>Class C</strong> w/ Staff 7</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>	
	</div>
	<!-- 11am - 12pm  :: Seattle :: Class C :: Staff 6 -->
	<div class="event" style="left:550px; top:32px; height:22px; width:100px;">
		<div class="event_o service_color_3 type_class stacked">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">11am</span>
			<span class="dash">-</span>
			<span class="end_at">12pm</span>
			</span>
			<span class=""><strong>Class C</strong> w/ Staff 6</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>	
	</div>
	<!-- 11am - 12pm  :: Seattle :: Class C :: Staff 4 -->
	<div class="event" style="left:550px; top:10px; height:22px; width:100px;">
		<div class="event_o service_color_3 type_class stacked">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">11am</span>
			<span class="dash">-</span>
			<span class="end_at">12pm</span>
			</span>
			<span class=""><strong>Class C</strong> w/ Staff 4</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>	
	</div>
	<!-- 11:30am - 12:30pm  :: Seattle :: Class C :: Staff 7 -->
	<div class="event" style="left:600px; top:15px; height:45px; width:100px;">
		<div class="event_o service_color_3 type_class stacked">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">11:30am</span>
			<span class="dash">-</span>
			<span class="end_at">12:30pm</span>
			</span>
			<span class=""><strong>Class C</strong> w/ Staff 7</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>	
	</div>
	<!-- 12pm - 1pm  :: Seattle :: Class C :: Staff 6 -->
	<div class="event" style="left:650px; top:20px; height:45px; width:100px;">
		<div class="event_o service_color_3 type_class stacked">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">12pm</span>
			<span class="dash">-</span>
			<span class="end_at">1pm</span>
			</span>
			<span class=""><strong>Class C</strong> w/ Staff 6</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>	
	</div>

	<!-- 3pm - 4pm  :: Seattle :: Class C :: Staff 6 -->
	<div class="event" style="left:950px; height:65px; width:100px;">
		<div class="event_o service_color_3 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">3pm</span>
			<span class="dash">-</span>
			<span class="end_at">4pm</span>
			</span>
			<span class=""><strong>Class C</strong> w/ Staff 6</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>	
	</div>
	<!-- 4pm - 5pm  :: Seattle :: Class C :: Staff 6 -->
	<div class="event" style="left:1050px; height:65px; width:100px;">
		<div class="event_o service_color_3 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">4pm</span>
			<span class="dash">-</span>
			<span class="end_at">5pm</span>
			</span>
			<span class=""><strong>Class C</strong> w/ Staff 6</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>	
	</div>
</div>
<div class="grid-lane"><!-- table-row -->
	<div class="grid start"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
</div>

<!--
 - Lane :: Class D - Seattle
 -->
<div class="event-lane">
	<!-- 9am - 12pm  :: Seattle :: Class D :: Staff 2 -->
	<div class="event" style="left:350px; height:27px; width:300px;">
		<div class="event_o service_color_4 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">9am</span>
			<span class="dash">-</span>
			<span class="end_at">12pm</span>
			</span>
			<span class=""><strong>Class D</strong> w/ Staff 2</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>	
	</div>
	<!-- 9am - 12pm  :: Seattle :: Class D :: Staff 1 -->
	<div class="event" style="left:350px; top:27px; height:27px; width:300px;">
		<div class="event_o service_color_4 type_class">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">9am</span>
			<span class="dash">-</span>
			<span class="end_at">12pm</span>
			</span>
			<span class=""><strong>Class D</strong> w/ Staff 1</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>	
	</div>
	<!-- 11am - 1pm  :: Seattle :: Class D :: Staff 2 -->
	<div class="event" style="left:550px; top:5px; height:55px; width:300px;">
		<div class="event_o service_color_4 type_class stacked">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">11am</span>
			<span class="dash">-</span>
			<span class="end_at">1pm</span>
			</span>
			<span class=""><strong>Class D</strong> w/ Staff 2</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>	
	</div>
	<!-- 1pm - 4pm  :: Seattle :: Class D :: Staff 2 -->
	<div class="event" style="left:750px; top:10px; height:55px; width:300px;">
		<div class="event_o service_color_4 type_class stacked">
			<span class="name_and_time">
			<span class="full_time">
			<span class="start_at">1pm</span>
			<span class="dash">-</span>
			<span class="end_at">4pm</span>
			</span>
			<span class=""><strong>Class D</strong> w/ Staff 2</span>
			<span class="location hide">- Seattle</span>
			</span>
		</div>	
	</div>
</div>
<div class="grid-lane"><!-- table-row -->
	<div class="grid start"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
	<div class="grid mid"></div><div class="grid"></div><div class="grid mid"></div>
	<div class="grid"></div><div class="grid mid"></div><div class="grid"></div>
</div>