<div class="lane-column">
	<div class="table">
		<div class="subgroup-spacer"></div>
		<div class="time-cell"></div>
		<div class="lane"><div class="valign-mid pad10">Class A</div></div>
		<div class="lane"><div class="valign-mid pad10 bottom">Class B</div></div>
		<div class="subgroup-spacer"></div>
		<div class="time-cell"></div>
		<div class="lane"><div class="valign-mid pad10">Class B</div></div>
		<div class="lane"><div class="valign-mid pad10">Class C</div></div>
		<div class="lane"><div class="valign-mid pad10">Class D</div></div>
	</div>
</div>