/**
 * General styling for the prototype
 *
 */
*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
body {
  font-weight: normal;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Verdana, "Droid Sans";
  color: #3e3e3e;
  line-height: 1.4em;
  margin:0;
  padding:0;
}
table, table tr td, table tr th{
  padding:0;
  border-collapse:collapse;
  table-layout:fixed;
}
p {
  padding-left:15px;
}
p.title
{
  padding-left:0px;
  font-size:14px;
  font-weight:bold;
  color:#888888;
}
#content {
  margin:15px;
}
.strike {
  text-decoration:line-through;
}
.strong {
  font-weight:bold;
}


.viewport{
  max-width:1000px;
  border:1px solid #c6c6c6;
  padding:15px;
  padding-bottom:30px;
}
.divider
{
  height:1px;
  width:100%; 
  background-color:#e6e6e6;
  margin-bottom:15px;
}

/**
 * The following classes manage the layout
 * and flow of the Scheduler.
 */
.scheduler {
  border:1px solid #e6e6e6;
  position:relative;
  overflow:hidden;

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}
.scheduler ::-webkit-scrollbar {
  height:0.0em;
}
.lane-column {
  float:left;
  margin-left:-100%;
}
.calendar-container {
  float:left;
  width:100%;
}
.calendar-scroller {
  margin-left:100px;
  cursor:ew-resize;
  overflow-y: hidden;
  overflow-x:auto;
  -webkit-overflow-scrolling:touch;
}
.calendar-data
{
  position:relative;
  border-collapse:collapse;
  z-index:10;
}

/**
 * Elements within the Scheduler
 */
.lane {
  font-weight:bold;
  color:#666666;
  border-bottom:1px solid #e6e6e6;
  border-right:1px solid #cfcfcf;
  display:table-row;
}

/* subgroup */
.subgroup-lane {
  text-align:center;
  font-weight:bold;

  background-color:#f2f2f2;
  position:absolute;
  display:table;
  z-index:100;
}
.subgroup-spacer
{
  display:table-row;
}

/* time */
.time-spacer,
.time-lane,
.time {
  text-align:center;
  font-size: 11px;
  font-weight:bold;
  border-bottom:1px solid #c6c6c6;
}
.time-spacer,
.time-lane {
  background:-webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
  background:-moz-linear-gradient(top, #f2f2f2, #e6e6e6);
  background:-ms-linear-gradient(top, #f2f2f2, #e6e6e6);
}
.time-lane {
  display:table-row;
  position:relative;
}
.time-spacer,
.time-cell,
.time {
  display:table-cell;
}

/* events */
.event-lane{
  display:table-row;
  border-bottom:1px solid #e6e6e6;
}
.event-cell {
  display:table-cell;
  border-left:1px solid #e6e6e6;
}
.mid {
  border-left:1px dashed #e6e6e6;
}

.day-start {
  border-left:0px;
}

.current-time{
  z-index:-1;
}
/**
 * Currently unnecessary since continuous scroll
 * into prev/next days will not be enabled in the
 * initial CalendarLanes release.
 *
 .day-boundary {
  border-left:1px solid #e6e6e6;
  border-right:1px solid #e6e6e6;
  border-bottom:0px;
  background-color:#eeeeff;

  width:150px;
 }
.day-boundary:hover {
  background-color:#e7eff7;
}
*/



/**
 * Your one stop shop to set heights and widths for
 * various scheduler elements
 */

 .scheduler {
  /**
   * This value will probably be set at render time.
   * Remember to add 2 pixels for the borders.
   *
  max-width:1502px;
   */
  width:100%;
}

.time,
.time-cell,
.time-spacer {
  height:20px;
}
.time {
  width:100px;
  min-width:100px;
  max-width:100px;
}

.lane,
.event-lane {
  height:65px;
}
.event-lane {
  width:100%;
}

.time-cell,
.event-cell {
  width:50px;
  min-width:50px;
  max-width:50px;
}


/**
 * Set the width of the lane column
 */
.lane-column,
.time-spacer,
.subgroup-spacer,
.lane {
  width:80px;
  min-width:80px;
  max-width:80px;
}
.calendar-scroller {
  margin-left:80px;
}

.subgroup-spacer,
.subgroup-lane {
  height:25px;
  width:100%;
}

.current-time
{
  position:absolute;
  width:3px;
  border:1px solid red;
  height:100%;
}
/**
 * Commonly used page formatting styles.
 * While I think that it's generally bad
 * practice to explicit classes like these,
 * I've found them really useful for rapid
 * prototyping...
 *
 * ...which is what I'm doing right now with
 * this calendar-lane stuff.
 */
.valign-mid {
  vertical-align:middle;
  display:table-cell;
}
.pad10
{
  padding-left:10px;
}
.last {
  border-right:0px;
}
.bottom {
  border-bottom:1px solid #e6e6e6;
}
.hide{
  display:none;
}

.table {
  display:table;
  border-collapse:collapse;
}
.row {
  display:table-row;
}
.cell {
  display:table-cell;
}
